body {
    background-color: #ffebee;
}

#header {
    font-size: 40px;
    padding: 10px;
    color: white;
    background-color: #8f13fe;
    font-family: 'Russo One', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news {
    padding: 20px;
}

a {
    text-decoration: none;
}

.soccer {
    margin-right: 10px;
}

.article {
    margin: 10px;
}

.exit {
    display: block;
    text-align: right;
    font-size: 30px;
}

.form {
    color: white;
    font-size: 20px;
}